
        body {
            margin-top: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: auto;
            margin-right: auto;
            background-color: #e6e4d9;
            background-image: url('images/pattern.png');
        }

        #mainheader {
            background-color: #a593c2;
        }

        #leftmenu {
            float: left;
            width: 30%;
            margin-bottom: 20px;
        }

        nav {
            height: 60px;
            width: 1000px;
            margin: 0 auto 20px;
        }

        .searchbox {
            padding: 5px;
            margin: 10px 10px;
            width: 200px;
        }

        #main {
            float: right;
            width: 70%;
            margin-bottom: 20px;
        }

        footer {
            clear: both;
            width: 100%;
        }

        header,
        section,
        footer,
        aside,
        nav,
        main,
        article,
        figure {
            display: block;
        }

        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
   